<div class=" m-2" style="height:300px; background-color:black;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-3 text-white">
                <h4>Contact Information</h4>
                <p class="text-white m-3">
                    <i class="fa fa-map-marker "></i> Bholaram Ustad Marg,Indore
            </p>
            <p class="text-white m-3">
                <i class="fa fa-envelope "></i> pradeepbirla81@gmail.com
        </p>
        <p class="text-white m-3">
            <i class="fa fa-mobile "></i> +91 3451424424 / +91 83083480348
    </p>
    <p class="text-white m-3">
        <i class="fa fa-globe "></i> www.pradeepbirla.com
</p>
</div>
<div class="col-md-4 mt-3 text-white">
    <h4>Online Placements</h4>
    <p>
        A website that where Talent meets Opportunity. We are committed and only allows trusted companies to hire the best talent all over the world.
    </p>
</div>
<div class="col-md-4 mt-3 text-white">
    <h4>Newsletter</h4>
    <p>
        If you want any extra Information then send me your email id
    </p>
    <form action="" class="form-inline">
        {% csrf_token %}
        <input type="email"
               name=""
               id=""
               class=" form-control mr-2"
               placeholder="Enter email"
               required>
        <input type="submit" value="send" class="btn btn-primary m-1">
    </form>
</div>
</div>
</div>
</div>
