{% load static %}
{% block body %}
    {% include 'admin_navigation.html' %}
    <nav class="navbar navbar-expand-lg text-white mt-2"
         style="background-color:black;  ">
        <center>
            <h4 class="text-center">Change Your Password</h4>
        </center>
    </nav>
    <script>
        function checkpass() 
        {
            if (document.changepassword.npwd.value != document.changepassword.cnpwd.value)
        {
            alert("Passwords do not match");
            document.changepassword.cnpwd.focus();
            return false;
    }
        
        return true;
    }

    

    </script>
    <div class="container bg-light font-weight-bold mt-5 ">
        <form method = "post" name="changepassword" onclick="return checkpass();">
            <div class="form-group">
                {% csrf_token %}
                <label for="exampleInputEmail1">Current Password</label>
                <input type="password"
                       name="cpwd"
                       class="form-control"
                       id="exampleInputEmail1"
                       aria-describedby="emailHelp"
                       placeholder="Current Password">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">New Password</label>
                <input type="password"
                       name="npwd"
                       class="form-control"
                       id="exampleInputEmail1"
                       aria-describedby="emailHelp"
                       placeholder="New Password">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Confirm New Password</label>
                <input type="password"
                       name="cnpwd"
                       class="form-control"
                       id="exampleInputEmail1"
                       aria-describedby="emailHelp"
                       placeholder="Confirm New Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {% include 'footer.html' %}
    {% if error == "No" %}
        <script>
    alert("Password Changed Successfully")
    window.location = ( ' {% url 'admin_login'  %} ' )
        </script>
    {% elif error == "Not" %}
        <script>alert("Current Password is wrong")</script>
    
    {% elif error == "Yes" %}
        <script>alert("Something went wrong")</script>
    {% endif %}
{% endblock body %}
